<template>
  <div class="small">
    <line-chart :chart-data="datacollection" class="chart" ></line-chart>
  </div>
</template>

<script>
  import LineChart from './LineChart.js'

  export default {
    components: {
      LineChart
    },
    data () {
      return {
        datacollection: null
      }
    },
    mounted () {
      this.fillData()
    },
    methods: {
      fillData () {
        this.datacollection = {
          labels: ['January', 'Ferbruary', 'March', 'April', 'May', 'June', 'July' ],
          datasets: [
            {
              label: 'Dataset',
              backgroundColor: '#e8573e',
              data: [5, 7, 2, 7, 6, 5, 0]
            }
          ]
        }
      },
    }
  }
</script>

<style>
  .small {
    max-width: 400px;
    max-height: 200px;
    margin:  10px 10px;
    
  }
  .chart {
      width: 400px;
  }
</style>