<template>
	<div>
		<section class="container-fluid dashbord">
			<div class="row">
				<EmployerSidebar></EmployerSidebar>
				<router-view></router-view>
			</div>
		</section>
	</div>
</template>
<script>
import EmployerSidebar from './Employer/EmployerSidebar';

export default {
		name: "Dashboard",
		components: { EmployerSidebar },
		data(){
				return {

				}
		}
}
</script>