<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
    <p>Home Page</p>
  </div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator';

@Component()
export default class Home extends Vue {}
</script>
