<template>
    <div>
        <!-- Candidate Personal Info-->
        <section class="bgc-white mt100 mbt45">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xl-8">
                        <div class="candidate_personal_info style2">
                            <div class="thumb one text-center">
                                <img class="img-fluid rounded" src="images/partners/cl1.jpg" alt="cl1.jpg"><br><br>
                                <a class="mt25" href="#">View all jobs <span class="flaticon-right-arrow pl10"></span></a>
                            </div>
                            <div class="details">
                                <small class="text-thm2">Full Time</small>
                                <h3>{{ jobdata.title }}</h3>
                                <p>Posted {{ jobdata.publishdate }} <a href="#" class="text-thm2">{{ jobdata.author }}</a></p>
                                <ul class="address_list">
                                    <li class="list-inline-item"><a href="#"><span class="flaticon-location-pin"></span> Bothell, WA, USA</a></li>
                                    <li class="list-inline-item"><a href="#"><span class="flaticon-price"></span> $13.00 - $18.00 per hour</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-4">
                        <div class="company_short_buton">
                            <button class="btn btn-white" style="box-shadow: none;"><span class="flaticon-favorites pr10"></span> Shortlist</button>
                            <button class="btn"><span class="flaticon-mail pl10"></span> Get Job Alerts</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Candidate Personal Info Details-->
        <section class="bgc-fa">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xl-8">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="candidate_about_info style2">
                                    <img class="img-fluid" src="images/about/c1.jpg" alt="c1.jpg">
                                    <h4 class="fz20 mb30 mt30">Job Description</h4>
                                    <p> {{ jobdata.description }} </p>
                                    <h4 class="fz20 mb30 mt30">Responsibilities</h4>
                                    <p> {{ jobdata.content }} </p>
                                    <button class="btn btn-lg btn-thm mb15">Apply Now <span class="flaticon-right-arrow pl10"></span></button>
                                    <button class="btn btn-lg btn-gray float-right"><span class="flaticon-mail pr10"></span> Get Job Alerts</button>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="map_sidebar_widget">
                                    <h4 class="fz20 mb30">Job Location</h4>
                                    <div class="h250" id="map-canvas"></div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="job_info_widget style2">
                                    <ul>
                                        <li class="list-inline-item"><span class="flaticon-24-hours-support text-thm2"></span> <span>35</span> <span>Day</span></li>
                                        <li class="list-inline-item"><span class="flaticon-zoom-in text-thm2"></span> <span>35697</span> <span>Displayed</span></li>
                                        <li class="list-inline-item"><span class="flaticon-businessman-paper-of-the-application-for-a-job text-thm2"></span> <span>300-500</span> <span>Application</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-4">
                        <div class="job_buttons">
                            <button class="btn btn-block btn-thm mb15">Apply Now <span class="flaticon-right-arrow pl10"></span></button>
                            <button class="btn btn-block btn-linkedin"><span class="fa fa-linkedin pr10"></span> Apply With LinkedIn</button>
                        </div>
                        <h4 class="fz20 mb30">Position Information</h4>
                        <div class="candidate_working_widget style2 bgc-white">
                            <div class="icon text-thm"><span class="flaticon-money"></span></div>
                            <div class="details">
                                <p class="color-black22">Offerd Salary</p>
                                <p>$45k - $180k</p>
                            </div>
                            <div class="icon text-thm"><span class="flaticon-gender"></span></div>
                            <div class="details">
                                <p class="color-black22">Gender</p>
                                <p>Female</p>
                            </div>
                            <div class="icon text-thm"><span class="flaticon-controls"></span></div>
                            <div class="details">
                                <p class="color-black22">Career Level</p>
                                <p>Executive</p>
                            </div>
                            <div class="icon text-thm"><span class="flaticon-line-chart"></span></div>
                            <div class="details">
                                <p class="color-black22">Industry</p>
                                <p>Management</p>
                            </div>
                            <div class="icon text-thm"><span class="flaticon-mortarboard"></span></div>
                            <div class="details">
                                <p class="color-black22">Experience</p>
                                <p>2 Years</p>
                            </div>
                            <div class="icon text-thm"><span class="flaticon-paper"></span></div>
                            <div class="details">
                                <p class="color-black22">Qualification</p>
                                <p>Bachelor Degree</p>
                            </div>
                        </div>
                        <div class="candidate_social_widget">
                            <ul>
                                <li>Social Profiles</li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="people_viewed_job">
                            <h4 class="title">People Also Viewed</h4>
                            <div class="details">
                                <div class="list_one">
                                    <a href="#" class="head">Web Designer</a>
                                    <a href="#" class="text-thm2">Wiggle CRC</a>
                                    <p><span class="flaticon-location-pin pr10"></span> Bothell, WA, USA</p>
                                </div>
                                <div class="list_one">
                                    <a href="#" class="head">General Ledger Accountant</a>
                                    <a href="#" class="text-thm2">Robert Half Finance & Accounting</a>
                                    <p><span class="flaticon-location-pin pr10"></span> RG40, Wokingham</p>
                                </div>
                                <div class="list_two">
                                    <a href="#" class="head">Junior Digital Graphic Designer</a>
                                    <a href="#" class="text-thm2">Parkside Recruitment</a>
                                    <p><span class="flaticon-location-pin pr10"></span> New Denham, UB8 1JG</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
import { Component, Vue, Prop } from 'vue-property-decorator';
import { getJob } from '../api/api';

@Component()
export default class Job extends Vue {
    jobdata = ''

    mounted () {
        getJob(this.$route.params.jobid).then(response => {
        this.jobdata = response.data
        })
        
    }
}
</script>
