<template>
	<section class="our-log-reg bgc-fa">
		<div class="container">
			<div class="row justify-content-md-center">
				<!--Account Login	-->
				<div v-if="showLogin">
					<div class="col-sm-12 col-lg-12">
						<div class="login_form">
							<form action="#">
								<div class="heading">
									<h3 class="text-center">Quick Login</h3>
									<p class="text-center">Don't have an account? <a @click.prevent="signUpPanel" class="text-thm" >Sign Up!</a></p>
								</div>
								 <div class="form-group">
										<input v-model="logininput.username" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
								</div>
								<div class="form-group">
										<input v-model="logininput.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
								</div>
								<div class="form-group form-check">
									<input type="checkbox" class="form-check-input" id="exampleCheck1">
									<label class="form-check-label" for="exampleCheck1">Remember me</label>
									<a class="tdu text-thm float-right" href="#">Forgot Password?</a>
								</div>
								<button @click.prevent="logIn" type="submit" class="btn btn-log btn-block btn-thm">Login</button>
								<hr>
								<div class="row mt40">
									<div class="col-lg">
										<button type="submit" class="btn btn-block color-white bgc-fb"><i class="fa fa-facebook float-left mt5"></i> Facebook</button>
									</div>
									<div class="col-lg">
										<button type="submit" class="btn btn-block color-white bgc-gogle"><i class="fa fa-google float-left mt5"></i> Google</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

				<!--Account Creation-->
				<div v-if="showRegistration">
					<div class="col-sm-12 col-lg-12">
						<div v-if="msg">
							<b-alert variant="danger" show>{{ msg }}</b-alert>
						</div>
						<div class="sign_up_form">
							<div class="heading">
								<h3 class="text-center">Create New Account</h3>
								<p class="text-center">Already have an account? <a @click.prevent="loginPanel" class="text-thm">Log In!</a></p>
							</div>
							<b-tabs fill class="tab-content" id="pills-tabContent">
								<!--Candidate-->
								<b-tab pills title="Candidate" class="tab-pane fade" id="pills-home">
									<b-form @submit.prevent="handleReg">
										<b-form-group class="">
											<b-form-input required v-model="reginput.username" type="text" class="form-control" id="exampleInputName1" placeholder="User Name"></b-form-input>
										</b-form-group>
										<b-form-group class="">
											<b-form-input required v-model="reginput.password"  type="password" class="form-control" id="exampleInputPassword2" placeholder="Password"></b-form-input>
										</b-form-group>
										<b-form-group class="">
											<b-form-input required v-model="reginput.confirmpassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password"></b-form-input>
										</b-form-group>
										<b-form-group class="">
											<b-form-input required v-model="reginput.firstname" type="text" class="form-control" id="firstName" placeholder="First Name"></b-form-input>
										</b-form-group>
										<b-form-group class="">
											<b-form-input required v-model="reginput.lastname" type="text" class="form-control" id="lastName" placeholder="Last Name"></b-form-input>
										</b-form-group>
										 <b-form-group class="">
											 <b-form-input required v-model="reginput.email" type="email" class="form-control" id="exampleInputEmail2" placeholder="Email"></b-form-input>
										</b-form-group>
										<b-form-group class="">
											<b-form-input type="number" class="form-control" id="exampleInputPhone1" placeholder="Phone Number (Optional)"></b-form-input>
										</b-form-group>
										<b-form-group class="form-check">
											<input type="checkbox" class="form-check-input" id="exampleCheck2">
											<label class="form-check-label" for="exampleCheck2">By Registering You Confirm That You Accept <a class="text-thm" href="page-terms-and-policies.html">Terms & Conditions</a> And <a class="text-thm" href="page-terms-and-policies.html">Privacy Policy</a></label>
										</b-form-group>
										<button type="submit" class="btn btn-log btn-block btn-dark">Register</button>
										<hr>
										<div class="row mt40">
											<div class="col-lg">
												<button type="submit" class="btn btn-block color-white bgc-fb"><i class="fa fa-facebook float-left mt5"></i> Facebook</button>
											</div>
											<div class="col-lg">
												<button type="submit" class="btn btn-block color-white bgc-gogle"><i class="fa fa-google float-left mt5"></i> Google</button>
											</div>
										</div>
									</b-form>
								</b-tab>
								<!--Employer-->
								<b-tab pills title="Employer" class="tab-pane fade" id="pills-home">
									<b-form @submit.prevent="handleReg">
										<b-form-group class="">
											<b-form-input required v-model="reginput.username" type="text" class="form-control" id="exampleInputName1" placeholder="User Name"></b-form-input>
										</b-form-group>
										<b-form-group class="">
											<b-form-input required v-model="reginput.password"  type="password" class="form-control" id="exampleInputPassword2" placeholder="Password"></b-form-input>
										</b-form-group>
										<b-form-group class="">
											<b-form-input required v-model="reginput.confirmpassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password"></b-form-input>
										</b-form-group>
										<b-form-group class="">
											<b-form-input required v-model="reginput.firstname" type="text" class="form-control" id="firstName" placeholder="First Name"></b-form-input>
										</b-form-group>
										<b-form-group class="">
											<b-form-input required v-model="reginput.lastname" type="text" class="form-control" id="lastName" placeholder="Last Name"></b-form-input>
										</b-form-group>
										 <b-form-group class="">
											 <b-form-input required v-model="reginput.email" type="email" class="form-control" id="exampleInputEmail2" placeholder="Email"></b-form-input>
										</b-form-group>
										<b-form-group class="">
											<b-form-input type="number" class="form-control" id="exampleInputPhone1" placeholder="Phone Number (Optional)"></b-form-input>
										</b-form-group>
										<b-form-group class="form-check">
											<input type="checkbox" class="form-check-input" id="exampleCheck2">
											<label class="form-check-label" for="exampleCheck2">By Registering You Confirm That You Accept <a class="text-thm" href="page-terms-and-policies.html">Terms & Conditions</a> And <a class="text-thm" href="page-terms-and-policies.html">Privacy Policy</a></label>
										</b-form-group>
										<button type="submit" class="btn btn-log btn-block btn-dark">Register</button>
										<hr>
										<div class="row mt40">
											<div class="col-lg">
												<button type="submit" class="btn btn-block color-white bgc-fb"><i class="fa fa-facebook float-left mt5"></i> Facebook</button>
											</div>
											<div class="col-lg">
												<button type="submit" class="btn btn-block color-white bgc-gogle"><i class="fa fa-google float-left mt5"></i> Google</button>
											</div>
										</div>
									</b-form>
								</b-tab>
								<!--Employer-->
							</b-tabs>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


</template>

<script>
import { Component, Vue } from 'vue-property-decorator';
import {logInSite, registerToSite} from "../api/api";

@Component()
export default class Login extends Vue {
    logininput = {
	    username: '',
			password: '',
			jsmessage: '',
			error: ''
		};
		reginput = {
        username: '',
        password: '',
        confirmpassword: '',
        firstname: '',
        lastname: '',
        email: '',
        error: ''
		};

		msg = '';
		showMessage = false;
		showLogin = false;
		showRegistration = true;

		signUpPanel() {
		    this.showLogin = false;
		    this.showRegistration = true;
		}

		loginPanel() {
		    this.showLogin = true;
		    this.showRegistration = false;
		}

		logIn() {

        var payload = {
            username: this.logininput.username,
            password: this.logininput.password,
				}
        logInSite(payload).then(response => {
            this.$router.push('/')
				})
						.catch(err => {
						    this.msg =  err.response.data['message']
								this.showMessage
						})
		}

		handleReg() {
				var payload = {
						username: this.reginput.username,
						password: this.reginput.password,
						confirmpassword: this.reginput.confirmpassword,
						firstname: this.reginput.firstname,
						lastname: this.reginput.lastname,
						email: this.reginput.email
				}
				if (this.reginput.password !== this.reginput.confirmpassword) {
						this.msg = 'Passwords do not match!'
						this.showMessage = true
				} else {
						registerToSite(payload).then(response => {
								console.log('rep')
								this.msg = 'Registration Successful!'
								this.showMessage = true
					})
						.catch(error => {
							console.log('err')
							this.msg = error.response.data['message']
							this.showMessage = true
						})
				}
    }

}
</script>

<style scoped>

</style>