<template>
  <!-- Using key bind so that this componet properly updates new data from elasticsearch
  when switching between indexes. -->
  <reactive-base
    :url="esurl"
    :app="searchType"
    :key="searchType"
  >
  <div class="search">
  <Searchbar />
  <section class="our-faq">
    <div class="container">
      <div class="row">
        <Sidebar />
        <Listing :search="searchType" />
      </div>
    </div>
  </section>
  </div>
  </reactive-base>
</template>

<script>
import { Component, Vue, Prop } from 'vue-property-decorator';
import Listing from '../components/Search/Listing.vue'; // @ is an alias to /src
import Sidebar from '../components/Search/Sidebar.vue'; // @ is an alias to /src
import Searchbar from '../components/Search/Searchbar.vue'; // @ is an alias to /src


@Component({
  components: {
    Listing,
    Sidebar,
    Searchbar,
  },
})
export default class Search extends Vue {
  @Prop() 
  searchType;
  esurl = process.env.VUE_APP_ESURL;
}
</script>
