<template>
  <b-navbar class="dark-primary-color" toggleable="lg" type="dark" sticky="true">
    <div  class="mx-auto d-sm-flex d-block flex-sm-nowrap">
    <b-navbar-brand tag="h1" class="mb-0">Ujima Job Board</b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item to="/">Home</b-nav-item>
        <b-nav-item :to="{name: 'searchjobs'}">Find a Job</b-nav-item>
        <b-nav-item :to="{name: 'searchcontracts'}">Freelance</b-nav-item>
            
        <b-nav-item-dropdown text="Lang">
          <b-dropdown-item href="#">EN</b-dropdown-item>
          <b-dropdown-item href="#">ES</b-dropdown-item>
          <b-dropdown-item href="#">RU</b-dropdown-item>
          <b-dropdown-item href="#">FA</b-dropdown-item>
        </b-nav-item-dropdown>

        <b-nav-item-dropdown>
          <!-- Using 'button-content' slot -->
          <template slot="button-content"><em>User</em></template>
          <b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item href="#">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto" right>
        <b-col lg="4" class="pb-2"><b-button to="Login">Login/SignUp</b-button></b-col>
      </b-navbar-nav>
    </b-collapse> 
    </div>   
  </b-navbar>
</template>
<script>
import { Component, Vue } from "vue-property-decorator";

@Component({
  name: "Nav"
})
export default class Nav extends Vue {}
</script>
<style>
.navbar {
  margin: 0%;
  height: 10vh;
}
</style>
