<template>
  <div class="col-lg-9 col-xl-9">
    <div class="row">
      <ResultList
        :render-data="jobList"
        :pagination="false"
        :react="{ and: ['SearchSensor', 'LocationSensor', 'Titles', 'DatePosted'] }"
        loader="Loading..."
        component-id="SearchResult"
        data-field="title.keyword"
        title="Results"
        sort-by="asc"
        class="container"
        target="_self"
      />
    </div>
  </div>
</template>
<script>
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class Listing extends Vue {

  @Prop()
  search;

  jobList(data) {
    

    return {
      title: data.title,
      description: data.description,
      url: (this.search == "job") ? this.$route.path + "/" +  data.jobid : this.$route.path + "/" + data.contractid
    };
  }
}
</script>
