<template>
    <section class="bgc-fa">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 pt30">
                    <div class="bg_png">
                        <img class="img-fluid" src="images/resource/cl1.png" alt="cl1.png">
                    </div>
                    <div class="home-job-search-box mt20 mb20">
                        <form class="form-inline">
                            <div class="search_option_one">
                            <DataSearch
                                :urlparams="false"
                                :data-field="['title']"
                                :innerClass="{
                                    title: 'flaticon-search',
                                    input: 'form-control h70'
                                }"
                                :showIcon="false"
                                :debounce=1000
                                placeholder="Title or Keywords"
                                class-name="form-group"
                                component-id="SearchSensor"
                                :showClear=false
                            />

                            <!-- <label for="exampleInputName"><span class="flaticon-search"></span></label>
                            <input type="text" class="form-control h70" id="exampleInputName" placeholder="Job Title or Keywords"> -->
                            </div>
                            <div class="search_option_two">
                            <DataSearch
                                :urlparams="false"
                                :data-field="['title']"
                                :innerClass="{
                                    title: 'flaticon-search',
                                    input: 'form-control h70'
                                }"
                                :showIcon="false"
                                :debounce=1000
                                placeholder="Location"
                                class-name="form-group"
                                component-id="LocationSensor"
                                :showClear=false
                            />
                            </div>
                            <div class="search_option_button">
                                <button type="button" v-on:click="isHidden = true" class="btn btn-thm btn-secondary h70">Search</button>								
                            </div>
                        </form>
                    <p class="color-silver"><span class="color-black22">Trending Keywords:</span> DesignCer,  Developer,  Web,  IOS,  PHP,  Senior,  Engineer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Searchbar extends Vue {
    isHidden = false;
}
</script>
