<template>
  <!-- <div sticky-container>
    <div v-sticky sticky-offset="offset" sticky-side="top"> -->
  <div class="col-lg-3 col-xl-3 dn-smd">
    <div class="cl_skill_checkbox mb30">
      <h4 class="fz20 mb20">
        Category
      </h4>
      <MultiList
        component-id="Titles"
        data-field="title.keyword"
        query-format="or"
        :show-count="true"
        :size="100"
        :show-search="false"
      />
      <!-- <div class="content ui_kit_checkbox h250">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Accountancy</label>
                    <span class="float-right mr10">(2)</span>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2">Banking</label>
                    <span class="float-right mr10">(2)</span>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                    <label class="custom-control-label" for="customCheck3">Charity & Voluntary</label>
                    <span class="float-right mr10">(3)</span>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                    <label class="custom-control-label" for="customCheck4">Digital & Creative</label>
                    <span class="float-right mr10">(4)</span>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                    <label class="custom-control-label" for="customCheck5">Estate Agency</label>
                    <span class="float-right mr10">(3)</span>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck6">
                    <label class="custom-control-label" for="customCheck6">Graduate</label>
                    <span class="float-right mr10">(2)</span>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck7">
                    <label class="custom-control-label" for="customCheck7">IT Contractor</label>
                    <span class="float-right mr10">(6)</span>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck8">
                    <label class="custom-control-label" for="customCheck8">Graphic Design</label>
                    <span class="float-right mr10">(4)</span>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck9">
                    <label class="custom-control-label" for="customCheck9">Sketch App</label>
                    <span class="float-right mr10">(5)</span>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck10">
                    <label class="custom-control-label" for="customCheck10">UI Design</label>
                    <span class="float-right mr10">(3)</span>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck11">
                    <label class="custom-control-label" for="customCheck11">Graphic Design</label>
                    <span class="float-right mr10">(2)</span>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck12">
                    <label class="custom-control-label" for="customCheck12">Sketch App</label>
                    <span class="float-right mr10">(1)</span>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck13">
                    <label class="custom-control-label" for="customCheck13">UI Design</label>
                    <span class="float-right mr10">(4)</span>
                </div>
            </div> -->
      <!-- <a class="text-thm2 pl25" href="#">View All <span class="flaticon-right-arrow pl10"></span></a> -->
    </div>
    <div class="cl_latest_activity mb30">
      <h4 class="fz20 mb15">
        Date Posted
      </h4>
      <single-range
        component-id="DatePosted"
        data-field="publishdate"
        class-name="ui_kit_radiobox"
        :inner-class="{
          radio: 'radio'
        }"
        :show-radio="true"
        :show-filter="true"
        :u-r-l-params="false"
        :data="daterange"
      />

      <!-- <div class="ui_kit_radiobox">
                <div class="radio">
                    <input id="radio_one" name="radio" type="radio" checked="">
                    <label for="radio_one"><span class="radio-label"></span> Last Hour</label>
                </div>
                <div class="radio">
                    <input id="radio_two" name="radio" type="radio">
                    <label for="radio_two"><span class="radio-label"></span> Last 24 hours</label>
                </div>
                <div class="radio">
                    <input id="radio_three" name="radio" type="radio">
                    <label for="radio_three"><span class="radio-label"></span> Last 7 days</label>
                </div>
                <div class="radio">
                    <input id="radio_four" name="radio" type="radio">
                    <label for="radio_four"><span class="radio-label"></span> Last 14 days</label>
                </div>
                <div class="radio">
                    <input id="radio_five" name="radio" type="radio">
                    <label for="radio_five"><span class="radio-label"></span> Last 30 days</label>
                </div>
                <a class="text-thm2 pl30" href="#">View All <span class="flaticon-right-arrow pl10"></span></a>
            </div> -->
    </div>
    <div class="cl_latest_activity mb30">
      <h4 class="fz20 mb15">
        Job Type
      </h4>
      <div class="ui_kit_whitchbox">
        <div class="custom-control custom-switch">
          <input
            id="customSwitch1"
            type="checkbox"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customSwitch1"
            >Freelance</label
          >
        </div>
        <div class="custom-control custom-switch">
          <input
            id="customSwitch2"
            type="checkbox"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customSwitch2"
            >Full Time</label
          >
        </div>
        <div class="custom-control custom-switch">
          <input
            id="customSwitch3"
            type="checkbox"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customSwitch3"
            >Part Time</label
          >
        </div>
        <div class="custom-control custom-switch">
          <input
            id="customSwitch4"
            type="checkbox"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customSwitch4"
            >Internship</label
          >
        </div>
        <div class="custom-control custom-switch">
          <input
            id="customSwitch5"
            type="checkbox"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customSwitch5"
            >Temporary</label
          >
        </div>
      </div>
    </div>
    <div class="cl_pricing_slider mb30">
      <h4 class="fz20 mb20">
        Hourly Rate
      </h4>
      <div id="slider-range" />
      <p class="text-center">
        <input id="amount" class="sl_input" type="text" />
      </p>
    </div>
    <div class="cl_skill_checkbox mb30">
      <h4 class="fz20 mb20">
        Skills
      </h4>
      <div class="content ui_kit_checkbox text-left">
        <div class="custom-control custom-checkbox">
          <input
            id="customCheck14"
            type="checkbox"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customCheck14">HTML 5</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input
            id="customCheck15"
            type="checkbox"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customCheck15"
            >Javascript</label
          >
        </div>
        <div class="custom-control custom-checkbox">
          <input
            id="customCheck16"
            type="checkbox"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customCheck16">PHP</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input
            id="customCheck17"
            type="checkbox"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customCheck17">jQuery</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input
            id="customCheck18"
            type="checkbox"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customCheck18"
            >UX/UI Design</label
          >
        </div>
        <div class="custom-control custom-checkbox">
          <input
            id="customCheck19"
            type="checkbox"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customCheck19">Design</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input
            id="customCheck20"
            type="checkbox"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customCheck20"
            >Web Design</label
          >
        </div>
        <div class="custom-control custom-checkbox">
          <input
            id="customCheck21"
            type="checkbox"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customCheck21"
            >Graphic Design</label
          >
        </div>
        <div class="custom-control custom-checkbox">
          <input
            id="customCheck22"
            type="checkbox"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customCheck22"
            >Sketch App</label
          >
        </div>
        <div class="custom-control custom-checkbox">
          <input
            id="customCheck23"
            type="checkbox"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customCheck23"
            >UI Design</label
          >
        </div>
        <div class="custom-control custom-checkbox">
          <input
            id="customCheck24"
            type="checkbox"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customCheck24"
            >Graphic Design</label
          >
        </div>
        <div class="custom-control custom-checkbox">
          <input
            id="customCheck25"
            type="checkbox"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customCheck25"
            >Sketch App</label
          >
        </div>
        <div class="custom-control custom-checkbox">
          <input
            id="customCheck26"
            type="checkbox"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customCheck26"
            >UI Design</label
          >
        </div>
      </div>
    </div>
    <div class="cl_carrer_lever mb30">
      <div id="accordion" class="accordion">
        <div class="link mb10">Career Level<i class="fa fa-caret-up" /></div>
        <div class="cl_submenu">
          <div class="ui_kit_checkbox">
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck27"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck27"
                >Intermediate</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck28"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck28"
                >Normal</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck29"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck29"
                >Special</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck30"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck30"
                >Experienced</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cl_carrer_lever mb30">
      <div id="accordion2" class="accordion">
        <div class="link mb10">Experince<i class="fa fa-caret-up" /></div>
        <div class="cl_submenu">
          <div class="ui_kit_checkbox">
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck31"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck31"
                >1Year to 2Year</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck32"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck32"
                >2Year to 3Year</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck33"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck33"
                >3Year to 4Year</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck34"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck34"
                >4Year to 5Year</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cl_carrer_lever mb30">
      <div id="accordion3" class="accordion">
        <div class="link mb10">Gender<i class="fa fa-caret-up" /></div>
        <div class="cl_submenu">
          <div class="ui_kit_checkbox">
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck35"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck35"
                >Male</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck36"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck36"
                >Female</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck37"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck37"
                >Others</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cl_carrer_lever mb30">
      <div id="accordion4" class="accordion">
        <div class="link mb10">Industry<i class="fa fa-caret-up" /></div>
        <div class="cl_submenu">
          <div class="ui_kit_checkbox">
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck38"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck38"
                >Development</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck39"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck39"
                >Management</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck40"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck40"
                >Finance</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck42"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck42"
                >HTML Department</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck43"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck43"
                >Seo</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck44"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck44"
                >Banking</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cl_carrer_lever">
      <div id="accordion5" class="accordion">
        <div class="link mb10">Qualification<i class="fa fa-caret-up" /></div>
        <div class="cl_submenu">
          <div class="ui_kit_checkbox">
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck45"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck45"
                >Certificate</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck46"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck46"
                >Diploma</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck47"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck47"
                >Associate</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck48"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck48"
                >Degree Bachelor</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck49"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck49"
                >Associate</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                id="customCheck50"
                type="checkbox"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customCheck50"
                >Master's Degree</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- </div>
  </div> -->
</template>
<script>
import { Component, Vue } from "vue-property-decorator";
import moment from "moment";

@Component
export default class Sidebar extends Vue {
  today = moment().format("YYYY-MM-DDTHH:mm:ss.SSS[Z]");
  daterange = [
    {
      start: this.today,
      end: moment(this.today)
        .add(1, "hours")
        .format("YYYY-MM-DDTHH:mm:ss.SSS[Z]"),
      label: "Last One Hour"
    },
    {
      start: this.today,
      end: moment(this.today)
        .add(1, "days")
        .format("YYYY-MM-DDTHH:mm:ss.SSS[Z]"),
      label: "Last 24 Hours"
    },
    {
      start: this.today,
      end: moment(this.today)
        .add(7, "days")
        .format("YYYY-MM-DDTHH:mm:ss.SSS[Z]"),
      label: "Last 7 Days"
    }
  ];
}
</script>
