<template>
    <section class="our-dashbord dashbord">
		<div class="">
			<div class="row">
				<UserProfile/>
				<div class="col-lg-8 col-xl-9">
					<div class="row">
						<div class="col-lg-12">
							<h4 class="mb30">Dashboard</h4>
						</div>
						<div v-bind:key="item.id" v-for="item in items" v-bind:class="item.class_1">
							<div v-bind:class="item.class_2">
								<div class="icon"><span v-bind:class="item.class_3"><font-awesome-icon class="icon-fa" v-bind:icon="item.class_3" /></span></div>
								<div class="detais">
									<div class="timer">{{item.timer}}</div>
									<p>{{item.name}}</p>
								</div>
							</div>
						</div>
						<div class="col-xl-8">
							<div class="application_statics">
								<h4>Applications Statistics</h4>
								<div class="c_container">
                                    <RandomChart />
                                </div>
							</div>
						</div>
						<div class="col-xl-4">
							<div class="recent_job_trafic">
								<h4>Traffic</h4>
								<div class="trafic_details">
									<div class="circlechart" data-percentage="60">1.5 M</div>
									<h4>Traffic for the day</h4>
									<p>Traffic through the sources google and facebook for the day</p>
									<ul class="trafic_list float-left">
										<li>40%</li>
										<li class="list-inline-item"><span class="bgc-fb"></span></li>
										<li class="list-inline-item">Facebook</li>
									</ul>
									<ul class="trafic_list">
										<li>60%</li>
										<li class="list-inline-item"><span class="bgc-gogle"></span></li>
										<li class="list-inline-item">Facebook</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-8">
							<div class="recent_job_apply">
								<h4 class="title">Recent Apply Jobs <a class="text-thm float-right" href="#">Browse All Jobs <span class="flaticon-right-arrow"></span></a></h4>
								<div v-bind:key="app.id" v-for="app in applied" class="rj_grid">
									<h4 class="sub_title">{{app.title}}</h4>
									<p class="text-thm float-left">{{app.at}}</p>
									<ul class="rj_post_address float-right">
										<li class="list-inline-item"><a href="#"><span class="flaticon-location-pin"><font-awesome-icon icon="map-marker-alt" /></span></a></li>
										<li class="list-inline-item"><a href="#">{{app.location}}</a></li>
					    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><span class="flaticon-edit"><font-awesome-icon icon="pencil-alt" /></span></a></li>
					    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><span class="flaticon-rubbish-bin"><font-awesome-icon icon="trash-alt" /></span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-4">
							<div class="recent_job_activity">
								<h4 class="title">Activity</h4>
								<div v-bind:key="act.id" v-for="act in activity" class="grid">
									<div class="color_bg float-left"></div>
									<ul>
										<li><span>{{act.name}}</span>{{act.action}}</li>
										<li>{{act.time}}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
//import RandomChart from '../chart/RandomChart';
import UserProfile from './UserProfile';
import RandomChart from '../chart/RandomChart';

export default {
	name: 'CandidateDashboard',
	components: { UserProfile, RandomChart  },
	data() {
		return {
			items: [
				{
					id: 1,
					class_1: "col-sm-6 col-md-6 col-lg-6 col-xl-3",
					class_2: "ff_one",
					class_3: "paper-plane",
					name: "Applied Jobs",
					timer: 20
				},
				{
					id: 2,
					class_1: "col-sm-6 col-md-6 col-lg-6 col-xl-3",
					class_2: "ff_one style2",
					class_3: "star-half-alt",
					name: "Favourite Jobs",
					timer: 26
				},
				{
					id: 3,
					class_1: "col-sm-6 col-md-6 col-lg-6 col-xl-3",
					class_2: "ff_one style3",
					class_3: "bell",
					name: "Job Alerts",
					timer: 11
				},
				{
					id: 4,
					class_1: "col-sm-6 col-md-6 col-lg-6 col-xl-3",
					class_2: "ff_one style4",
					class_3: "user-tag",
					name: "Packages",
					timer: 79
				}
			],
			applied: [
				{
					id: 1,
                    title: "UX/UI Designer",
                    at: "Wiggle CRC",
					location: "Bothell, WA, USA"
				},
				{
					id: 2,
                    title: "Regional Sales Manager South East Asia",
                    at: "Wiggle CRC",
					location: "Bothell, WA, USA"
                },
                {
					id: 3,
                    title: "C Developer (Senior) C .Net",
                    at: "Wiggle CRC",
					location: "Bothell, WA, USA"
                },
                {
					id: 4,
                    title: "UI/UX Designer",
                    at: "Wiggle CRC",
					location: "Bothell, WA, USA"
				},
			],
			activity: [
				{
					id: 1,
					name: "Dobrick",
					action: " published an article",
					time: "2 hours ago"
				},
				{
					id: 2,
					name: "Stella",
					action: " created an event",
					time: "2 hours ago"
				},
				{
					id: 3,
					name: "Peter",
					action: " submitted the reports",
					time: "2 hours ago"
				},
				{
					id: 4,
					name: "Natalia",
					action: " updated the docs",
					time: "2 hours ago"
				},
				{
					id: 5,
					name: "Dobrick",
					action: " published an article",
					time: "2 hours ago"
				},
				{
					id: 6,
					name: "Stella",
					action: " created an event",
					time: "2 hours ago"
				}
			]
		}
	},
	mounted () {}
}
</script>

<style scoped>
.icon-fa, .timer {
  color: #75726c;
}
  .icon-cog {
  color: #febe42;
}
.btn-thm {
    background-color: #79b530;
    color: #ffffff;
    font-size: 16px;
    padding: 7px 30px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-thm:hover {
	background-color: white;
	border: 1px solid #79b530;
	color: #79b530;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
</style>