<template>
    <section class="our-dashbord m_box dashbord mbt15">
		<div class="">
			<div class="row">
				<UserProfile />
				<div class="col-lg-8 col-xl-9">
					<div class="row message_container">
						<div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 pr0 pl0">
							<div class="inbox_user_list">
								<div class="iu_heading">
									<div class="candidate_revew_search_box">
										<form class="form-inline my-2 my-lg-0">
									    	<input class="form-control mr-sm-2" type="search" placeholder="Serach" aria-label="Search">
									    	<button class="btn my-2 my-sm-0" type="submit"><span class="flaticon-search"></span></button>
									    </form>
									</div>
								</div>
								<ul>
									<li v-bind:key="contact.id" v-for="contact in contacts" class="contact">
										<a href="#">
											<div class="wrap">
												<span v-bind:class="contact.status" class="contact-status"></span>
												<img class="img-fluid" src="../../../assets/images/team/s1.jpg" alt="s1.jpg"/>
												<div class="meta">
													<h5 class="name">{{contact.name}}</h5>
													<p class="preview">{{contact.message}}</p>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-7 col-xl-8 pr0 pl0">
							<div class="user_heading">
								<a href="#">
									<div class="wrap">
										<span class="contact-status online"></span>
										<img class="img-fluid" src="../../../assets/images/team/s5.jpg" alt="s5.jpg"/>
										<div class="meta">
											<h5 class="name">Joanne Davies</h5>
											<p class="preview">was online today at 11:43</p>
										</div>
									</div>
								</a>
							</div>
							<div class="last_seen_time text-center">
								<a href="#">November 5, 2018</a>
							</div>
							<div class="inbox_chatting_box">
								<ul class="chatting_content">
									<li v-bind:key="chat.id" v-for="chat in chats" v-bind:class="chat.class">
                                           <span v-if="chat.class=='media sent'" v-bind:class="chat.status"  class="contact-status"></span>
										  <img v-if="chat.class=='media sent'" class="img-fluid align-self-start mr-3" src="../../../assets/images/team/s6.jpg" alt="s6.jpg"/> 
										<div class="media-body">
											<div class="date_time">{{chat.time}}</div>
									    	<p>{{chat.message}}</p>
										</div>
									</li>
								</ul>
							</div>
							<div class="message_input">
								<form class="form-inline">
							    	<input class="form-control" type="search" placeholder="Enter text here..." aria-label="Search">
							    	<button class="btn" type="submit">Send <span class="flaticon-paper-plane"></span></button>
							    </form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
import { Component, Vue } from 'vue-property-decorator';
import UserProfile from './UserProfile';
import axios from 'axios';

export default {
	name: 'CandidateMessage',
	components: { UserProfile },
	data() {
		return {
           contacts: [
               {
                   id: 1,
                   name: "Vincent Porter",
                   message: "I'am going to the office",
                   status: "online"
               },
               {
                   id: 2,
                   name: "Jacob Brown",
                   message: "You: Where is Alex?",
                   status: "away"
               },
               {
                   id: 3,
                   name: "Harry Taylor",
                   message: "I'am going to the office",
                   status: "online"
               },
                {
                   id: 4,
                   name: "Sarah Miller",
                   message: "You: Okay!",
                   status: "busy"
               },
                {
                   id: 5,
                   name: "Joanne Davies",
                   message: "Let's go!",
                   status: "online"
               },
                {
                   id: 6,
                   name: "Sam Lee",
                   message: "Awesome!",
                   status: "busy"
               },
                {
                   id: 7,
                   name: "Vincent Porter",
                   message: "I'm going to the office",
                   status: "away"
               },
                {
                   id: 8,
                   name: "Jacob Brown",
                   message: "You: Where is Alex?",
                   status: "online"
               },
                {
                   id: 9,
                   name: "Joanne Davies",
                   message: "Was online today at 11:43",
                   status: "away"
               },
           ],
           chats: [
               {
                   id: 1,
                   time: "Today, 10:31",
                   message: "Hello, John!",
                   status: "busy",
                   class: "media sent"
               },
               {
                   id: 2,
                   time: "Today, 10:31",
                   message: "simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's",
                   status: "busy",
                   class: "media reply"
               },
                {
                   id: 3,
                   time: "Today, 10:35",
                   message: "Are we meeting today?",
                   status: "busy",
                   class: "media sent"
               },
                {
                   id: 4,
                   time: "Today, 10:35",
                   message: "The project finally complete! Let's go to!",
                   status: "busy",
                   class: "media reply"
               },
                {
                   id: 5,
                   time: "Today, 10:45",
                   message: "Let's go!",
                   status: "busy",
                   class: "media sent"
               },
                {
                   id: 6,
                   time: "Today, 10:51",
                   message: "simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's",
                   status: "busy",
                   class: "media sent"
               },
                {
                   id: 7,
                   time: "Today, 10:31",
                   message: "Hello, John!",
                   status: "busy",
                   class: "media sent"
               },
                {
                   id: 8,
                   time: "Today, 10:31",
                   message: "simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's",
                   status: "busy",
                   class: "media sent"
               },
                {
                   id: 9,
                   time: "Today, 10:35",
                   message: "Are we meeting today?",
                   status: "busy",
                   class: "media sent"
               },
                {
                   id: 10,
                   time: "Today, 10:35",
                   message: "The project finally complete! Let's go to!",
                   status: "busy",
                   class: "media reply"
               },
               {
                   id: 11,
                   time: "Today, 10:45",
                   message: "Let's go!",
                   status: "busy",
                   class: "media reply first"
               },
               {
                   id: 12,
                   time: "Today, 10:51",
                   message: "simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's",
                   status: "busy",
                   class: "media sent"
               },
               {
                   id: 13,
                   time: "Today, 10:35",
                   message: "Are we meeting today?",
                   status: "busy",
                   class: "media reply"
               },
               {
                   id: 14,
                   time: "Today, 10:35",
                   message: "The project is finally complete! Let's go to!",
                   status: "busy",
                  class: "media reply first" 
               },
                {
                   id: 15,
                   time: "Today, 10:45",
                   message: "Let's go",
                   status: "busy",
                   class: "media reply"
               },
                {
                   id: 16,
                   time: "Today, 10:51",
                   message: "simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's",
                   status: "busy",
                   class: "media reply first"
               }
           ]
        }
    }
}
</script>
<style scoped>
.online {
    background-color: green;
}
.busy {
    background-color: red;
}
.away {
    background-color: yellow;
}
</style>