<template>
    <section class="our-dashbord dashbord">
		<div class="">
			<div class="row">
				<UserProfile />
				<div class="col-sm-12 col-lg-8 col-xl-9">
					<div class="row">
						<div class="col-lg-12">
							<h4 class="fz20 mb30">Reviews</h4>
						</div>
						<div class="col-lg-6">
							<div class="candidate_revew_search_box">
								<form class="form-inline my-2 my-lg-0">
							    	<input class="form-control mr-sm-2" type="search" placeholder="Serach" aria-label="Search">
							    	<button class="btn my-2 my-sm-0" type="submit"><span class="flaticon-search"></span></button>
							    </form>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="candidate_revew_select text-right">
								<ul>
									<li class="list-inline-item">Sort by:</li>
									<li class="list-inline-item">
										<select class="selectpicker show-tick form-control">
											<option>Newest</option>
											<option>Recent</option>
											<option>Old Review</option>
										</select>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="candidate_job_reivew">
								<div class="table-responsive job_review_table">
									<table class="table">
										<thead class="thead-light">
									    	<tr>
									    		<th scope="col">Company</th>
									    		<th scope="col">Title</th>
									    		<th scope="col">Review</th>
									    		<th scope="col">Status</th>
									    		<th scope="col"></th>
									    	</tr>
										</thead>
										<tbody>
									    	<tr v-bind:key="review.id" v-for="review in reviews">
									    		<th scope="row">{{review.company}}</th>
									    		<td>{{review.title}}</td>
									    		<td>{{review.review}}</td>
									    		<td>{{review.status}}</td>
									    		<td>
									    			<ul class="view_edit_delete_list">
									    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="View"><span class="flaticon-eye"><font-awesome-icon icon="eye" /></span></a></li>
									    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><span class="flaticon-edit"><font-awesome-icon icon="pencil-alt" /></span></a></li>
									    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><span class="flaticon-rubbish-bin"><font-awesome-icon icon="trash-alt" /></span></a></li>
									    			</ul>
									    		</td>
									    	</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
import { Component, Vue } from 'vue-property-decorator';
import UserProfile from './UserProfile';
import axios from 'axios';

export default {
	name: 'CandidateReview',
	components: { UserProfile },
	data() {
		return {
            reviews: [
                {
                    id: 1,
                    company: "CreativeLayers",
                    title: "Example Head",
                    review: "Lorem ıpsum dolar sit amer...",
                    status: "Pending"
                },
                 {
                    id: 2,
                    company: "CreativeLayers",
                    title: "Example Head",
                    review: "Lorem ıpsum dolar sit amer...",
                    status: "Pending"
                },
                 {
                    id: 3,
                    company: "CreativeLayers",
                    title: "Example Head",
                    review: "Lorem ıpsum dolar sit amer...",
                    status: "Pending"
                },
                 {
                    id: 4,
                    company: "CreativeLayers",
                    title: "Example Head",
                    review: "Lorem ıpsum dolar sit amer...",
                    status: "Pending"
                }
            ]
        }
    }
}
</script>
<style scoped>

</style>