<template>
   <section class="our-dashbord dashbord">
		<div class="">
			<div class="row">
				<UserProfile />
				<div class="col-lg-8 col-xl-9">
					<div class="row">
						<div class="col-lg-12">
							<div class="candidate_job_alart">
								<h4>Job Alerts</h4>
								<div class="table-responsive job_alart_table">
									<table class="table">
										<thead class="thead-light">
									    	<tr>
									    		<th scope="col">Title</th>
									    		<th scope="col">Criteria</th>
									    		<th scope="col">Created</th>
									    		<th scope="col"></th>
									    	</tr>
										</thead>
										<tbody>
									    	<tr v-bind:key="alert.id" v-for="alert in alerts">
									    		<th scope="row">{{alert.title}}</th>
									    		<td>{{alert.criteria}}</td>
									    		<td class="extra">{{alert.date}}</td>
									    		<td>
									    			<ul class="edit_delete_list">
									    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><span class="flaticon-edit"><font-awesome-icon icon="pencil-alt" /></span></a></li>
									    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><span class="flaticon-rubbish-bin"><font-awesome-icon icon="trash-alt" /></span></a></li>
									    			</ul>
									    		</td>
									    	</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
 
</template>
<script>
import { Component, Vue } from 'vue-property-decorator';
import UserProfile from './UserProfile';
import axios from 'axios';

export default {
	name: 'CandidateJobAlerts',
	components: { UserProfile },
	data() {
		return {
            alerts: [
                {
                    id: 1,
                    title: "Test Title",
                    criteria: "Human Resource Junior",
                    date: "Nov 12, 2018"
                },
                 {
                    id: 1,
                    title: "Test Title",
                    criteria: "Human Resource Junior",
                    date: "Nov 12, 2018"
                },
                 {
                    id: 1,
                    title: "Test Title",
                    criteria: "Human Resource Junior",
                    date: "Nov 12, 2018"
                },
                 {
                    id: 1,
                    title: "Test Title",
                    criteria: "Human Resource Junior",
                    date: "Nov 12, 2018"
                }
            ]
        }
    }
}
</script>
<style scoped>

</style>