<template>
    <section class="our-dashbord dashbord">
		<div class="">
			<div class="row">
				<UserProfile />
				<div class="col-lg-6 col-xl-6">
					<div class="password_change_form">
						<h4>Change Password</h4>
						<form>
							<div class="form-group">
						    	<label for="exampleInputPassword1">Old Password</label>
						    	<input type="password" class="form-control" id="exampleInputPassword1" placeholder="*******">
							</div>
							<div class="form-group">
						    	<label for="exampleInputPassword2">New Password</label>
						    	<input type="password" class="form-control" id="exampleInputPassword2" placeholder="*******">
							</div>
							<div class="form-group">
						    	<label for="exampleInputPassword3">Confirm Password</label>
						    	<input type="password" class="form-control" id="exampleInputPassword3" placeholder="*******">
							</div>
							<button type="submit" class="btn btn-thm">Save Changes</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
import { Component, Vue } from 'vue-property-decorator';
import UserProfile from './UserProfile';
import axios from 'axios';

export default {
	name: 'CandidateChangePassword',
	components: { UserProfile },
	data() {
		return {

        }
    }
}
</script>
<style scoped>
 .btn {
     color: white;
     background-color: #79b530;
 }
 .btn:hover{
     color: #79b530;
     background-color: white;
 }
</style>