<template>
    <section class="our-dashbord dashbord">
		<div class="">
			<div class="row">
				<UserProfile />
				<div class="col-lg-8 col-xl-9">
					<div class="row">
						<div class="col-lg-12">
							<h4 class="fz18 mb30">Applied Jobs</h4>
						</div>
					</div>
					<div class="row applyed_job">
						<div v-bind:key="job.id" v-for="job in jobs" class="col-sm-12 col-lg-12">
							<div class="fj_post">
								<div class="details">
									<h5 class="job_chedule text-thm mt0">{{job.type}}</h5>
									<div class="thumb fn-smd">
										<img class="img-fluid" src="../../../assets/images/partners/1.jpg" alt="1.jpg">
									</div>
									<h4>{{job.role}}</h4>
									<p>{{job.posted}} <a class="text-thm" href="#">{{job.at}}</a></p>
									<ul class="featurej_post">
										<li class="list-inline-item"><span class="flaticon-location-pin"></span> <a href="#">{{job.location}}</a></li>
										<li class="list-inline-item"><span class="flaticon-price pl20"></span> <a href="#">{{job.rate}}</a></li>
									</ul>
								</div>
				    			<ul class="view_edit_delete_list float-right">
				    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><span class="flaticon-edit"><font-awesome-icon icon="pencil-alt" /></span></a></li>
				    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><span class="flaticon-rubbish-bin"><font-awesome-icon icon="trash-alt" /></span></a></li>
				    			</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
import { Component, Vue } from 'vue-property-decorator';
import UserProfile from './UserProfile';
import axios from 'axios';

export default {
	name: 'CandidateAppliedJobs',
	components: { UserProfile },
    data() {
		return {
            jobs: [
                {
                    id: 1,
                    type: "Full Time",
                    role: "JEB Product Sales Specialist, Russia & CIS",
                    posted: "Posted 23 August by",
                    at: "Wiggle CRC",
                    location: "Bothell, WA, USA",
                    rate: "$13.00 - $18.00 per hour"
                },
                {
                    id: 2,
                    type: "Part Time",
                    role: "General Ledger Accountant",
                    posted: "Posted 23 August by",
                    at: "Robert Half Finance & Accounting",
                    location: "RG40, Wokingham",
                    rate: "$13.00 - $18.00 per hour"
                },
                 {
                    id: 3,
                    type: "Full Time",
                    role: "Junior Digital Graphic Designer",
                    posted: "Posted 23 August by",
                    at: "Parkside Recruitment - Uxbridge Finance",
                    location: "New Denham, UB8 1JG",
                    rate: "$13.00 - $18.00 per hour"
                },
                 {
                    id: 4,
                    type: "Full Time",
                    role: "UX/UI Designer",
                    posted: "Yesterday",
                    at: "NonStop Recruitment Ltd",
                    location: "New Denham, UB8 1JG",
                    rate: "$13.00 - $18.00 per hour"
                },
                {
                    id: 5,
                    type: "Full Time",
                    role: "Junior Digital Graphic Designer",
                    posted: "Posted 23 August by",
                    at: "Parkside Recruitment - Uxbridge Finance",
                    location: "New Denham, UB8 1JG",
                    rate: "$13.00 - $18.00 per hour"
                },
                {
                    id: 6,
                    type: "Full Time",
                    role: "UX/UI Designer",
                    posted: "Yesterday",
                    at: "NonStop Recruitment Ltd",
                    location: "Bothell, WA, USA",
                    rate: "$13.00 - $18.00 per hour"
                },
                 {
                    id: 7,
                    type: "Full Time",
                    role: "UX/UI Designer",
                    posted: "Yesterday",
                    at: "NonStop Recruitment Ltd",
                    location: "Bothell, WA, USA",
                    rate: "$13.00 - $18.00 per hour"
                }
            ]
        }
    }
}
</script>
<style scoped>

</style>