<template>
   <section class="cnddte_fvrt our-dashbord dashbord">
		<div class="">
			<div class="row">
				<UserProfile />
				<div class="col-xl-9">
					<div class="row">
						<div class="col-lg-12">
							<h4 class="mb30">Favourite Jobs</h4>
						</div>
						<div class="col-md-6 col-lg-6">
							<div class="candidate_revew_search_box">
								<form class="form-inline my-2 my-lg-0">
							    	<input class="form-control mr-sm-2" type="search" placeholder="Serach" aria-label="Search">
							    	<button class="btn my-2 my-sm-0" type="submit"><span class="flaticon-search"></span></button>
							    </form>
							</div>
						</div>
						<div class="col-md-6 col-lg-6">
							<div class="candidate_revew_select text-right">
								<ul>
									<li class="list-inline-item">Sort by:</li>
									<li class="list-inline-item">
										<select class="selectpicker show-tick form-control">
											<option>Newest</option>
											<option>Recent</option>
											<option>Old Review</option>
										</select>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="cnddte_fvrt_job candidate_job_reivew">
								<div class="table-responsive job_review_table">
									<table class="table">
										<thead class="thead-light">
									    	<tr>
									    		<th scope="col">Job Title</th>
									    		<th scope="col"></th>
									    		<th scope="col"></th>
									    		<th scope="col">Date Saved</th>
									    		<th scope="col"></th>
									    	</tr>
										</thead>
										<tbody>
									    	<tr  v-bind:key="job.id" v-for="job in jobs">
									    		<th scope="row">
									    			<img class="img-fluid" src="../../../assets/images/partners/10.jpg" alt="10.jpg">
									    		</th>
									    		<td>
									    			<h4>{{job.role}}</h4>
									    			<p>{{job.at}}</p>
									    			<ul>
									    				<li class="list-inline-item"><a href="#"><span class="flaticon-location-pin"></span></a></li>
									    				<li class="list-inline-item"><a href="#">{{job.location}}</a></li>
									    			</ul>
									    		</td>
									    		<td></td>
									    		<td>{{job.date}}</td>
									    		<td>
									    			<ul class="view_edit_delete_list">
									    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="View"><span class="flaticon-eye"><font-awesome-icon icon="eye" /></span></a></li>
									    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><span class="flaticon-edit"><font-awesome-icon icon="pencil-alt" /></span></a></li>
									    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><span class="flaticon-rubbish-bin"><font-awesome-icon icon="trash-alt" /></span></a></li>
									    			</ul>
									    		</td>
									    	</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> 
</template>
<script>
import { Component, Vue } from 'vue-property-decorator';
import UserProfile from './UserProfile';
import axios from 'axios';

export default {
	name: 'CandidateFavouriteJobs',
	components: { UserProfile },
	data() {
		return {
             jobs: [
                 {
                     id: 1,
                     role: "General Ledger Accountant",
                     at: "Roevin",
                     location: "RG40, Wokingham",
                     date: "Nov 12, 2018"
                 },
                  {
                     id: 2,
                     role: "UX/UI Designer",
                     at: "NonStop Recruitment Ltd",
                     location: "RG40, Wokingham",
                     date: "Nov 12, 2018"
                 },
                 {
                     id: 3,
                     role: "Junior Digital Graphic Designer",
                     at: "Robert Half Finance & Accounting",
                     location: "RG40, Wokingham",
                     date: "Nov 12, 2018"
                 },
                 {
                     id: 4,
                     role: "JEB Product Sales Specialist, Russia & CIS",
                     at: "Wiggle CRC",
                     location: "RG40, Wokingham",
                     date: "Nov 12, 2018"
                 },
                  {
                     id: 5,
                     role: "General Ledger Accountant",
                     at: "Roevin",
                     location: "RG40, Wokingham",
                     date: "Nov 12, 2018"
                 },
                 {
                     id: 6,
                     role: "UX/UI Designer",
                     at: "NonStop Recruitment Ltd",
                     location: "RG40, Wokingham",
                     date: "Nov 12, 2018"
                 }
             ]
        }
    }
}
</script>
<style scoped>

</style>