<template>
    <section class="our-dashbord dashbord">
		<div class="">
			<div class="row">
				<UserProfile />
				<div class="col-sm-12 col-lg-8 col-xl-9">
					<div class="row">
						<div class="col-lg-12">
							<h4 class="fz20 mb20">My Resume</h4>
						</div>
						<div class="col-lg-6">
							<div class="candidate_resume_select">
							    <label for="exampleFormControlTextarea2">Select Your CV</label><br>
								<select class="selectpicker show-tick form-control">
									<option>Desginer CV</option>
									<option>UX/UI CV</option>
									<option>Sample CV</option>
								</select>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="my_resume_textarea mt20">
								 <div class="form-group">
								    <label for="exampleFormControlTextarea1">Cover Letter</label>
								    <textarea class="form-control" id="exampleFormControlTextarea1" rows="9">Spent several years working on sheep on Wall Street. Had moderate success investing in Yugo's on Wall Street. Managed a small team buying and selling Pogo sticks for farmers. Spent several years licensing licorice in West Palm Beach, FL. Developed several new methods for working it banjos in the aftermarket. Spent a weekend importing banjos in West Palm Beach, FL.In this position, the Software Engineer collaborates with Evention's Development team to continuously enhance our current software solutions as well as create new solutions to eliminate the back-office operations and management challenges present
								    </textarea>
								  </div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="my_resume_eduarea">
								<h4 class="title">Education <small class="float-right"><a href="#">Add New <span class="flaticon-right-arrow"></span></a></small></h4>
								<div v-bind:key="edu.id" v-for="edu in education" class="content">
									<div class="circle"></div>
									<p class="edu_center">{{edu.school}} <small>{{edu.duration}}</small></p>
									<h4 class="edu_stats">{{edu.course}}
										<ul class="edu_stats_list float-right">
						    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><span class="flaticon-edit"><font-awesome-icon icon="pencil-alt" /></span></a></li>
						    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><span class="flaticon-rubbish-bin"><font-awesome-icon icon="trash-alt" /></span></a></li>
										</ul>
									</h4>
									<p>{{edu.note}}</p>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="my_resume_eduarea">
								<h4 class="title">Work & Experience <small class="float-right"><a href="#">Add New <span class="flaticon-right-arrow"></span></a></small></h4>
								<div v-bind:key="work.id" v-for="work in works" class="content">
									<div class="circle"></div>
									<p class="edu_center">{{work.at}} <small>{{work.duration}}</small></p>
									<h4 class="edu_stats">{{work.role}}
										<ul class="edu_stats_list float-right">
						    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><span class="flaticon-edit"><font-awesome-icon icon="pencil-alt" /></span></a></li>
						    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><span class="flaticon-rubbish-bin"><font-awesome-icon icon="trash-alt" /></span></a></li>
										</ul>
									</h4>
									<p>{{work.note}}</p>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="row my_resume_portfolio">
								<h4 class="title">Portfolio</h4>
								<div v-bind:key="port.id" v-for="port in portfolio" class="col-sm-6 col-lg-3">
									<div class="portfolio_item">
										<img class="img-fluid" src="../../../assets/images/gallery/1.jpg" alt="1">
										<ul class="edu_stats_list">
						    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><span class="flaticon-edit"><font-awesome-icon icon="pencil-alt" /></span></a></li>
						    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><span class="flaticon-rubbish-bin"><font-awesome-icon icon="trash-alt" /></span></a></li>
										</ul>
									</div>
								</div>
								<div class="col-sm-6 col-lg-3">
									<div class="portfolio_upload">
										<button class="btn"><span class="flaticon-download"></span></button>
										<input type="file" name="myfile" />
										<p>Upload Portfolio</p>
									</div>
								</div>								
							</div>
						</div>
						<div class="col-lg-12">
							<div class="my_resume_skill">
								<h4 class="title">Skills</h4>
								<input type="text" class="form-control" data-role="tagsinput" value="Sketch App,User Interface Design,Graphic Design,Web Design" placeholder="Add Skills">
							</div>
						</div>
						<div class="col-lg-12">
							<div class="my_resume_eduarea">
								<h4 class="title">Awards <small class="float-right"><a href="#">Add New <span class="flaticon-right-arrow"></span></a></small></h4>
								<div v-bind:key="award.id" v-for="award in awards" class="content">
									<div class="circle"></div>
									<p class="edu_center">{{award.date}}</p>
									<h4 class="edu_stats">{{award.name}}
										<ul class="edu_stats_list float-right">
						    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><span class="flaticon-edit"><font-awesome-icon icon="pencil-alt" /></span></a></li>
						    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><span class="flaticon-rubbish-bin"><font-awesome-icon icon="trash-alt" /></span></a></li>
										</ul>
									</h4>
									<p>{{award.note}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</template>
<script>
import { Component, Vue } from 'vue-property-decorator';
import UserProfile from './UserProfile';
import axios from 'axios';

export default {
	name: 'CandidateResume',
	components: { UserProfile },
    data() {
		return {
           education: [
               {
                   id: 1,
                   school: "Walters University",
                   duration: "2002 - 2004",
                   course: "Masters In Fine Arts",
                   note: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus."
               },
                {
                    id: 2,
                   school: "Tombers College",
                   duration: "2012 - 2015",
                   course: "Bachelor In Fine Arts",
                   note: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus."
               },
               {
                   id: 3,
                   school: "Imperial Institute of Art Direction",
                   duration: "2014 - 2015",
                   course: "Diploma In Fine Arts",
                   note: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus."
               }
           ],
           works: [
               {
                   id: 1,
                   at: "Inwave Studio",
                   duration: "2008 - 2012",
                   role: "Masters In Fine Arts",
                   note: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus."
               },
                {
                   id: 2,
                   at: "Wiggle CRC",
                   duration: "2012 - 2015",
                   role: "CEO Founder",
                   note: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus."
               }
           ],
           portfolio: [
               {
                   id: 1,
                   alt: 1
               },
                {
                   id: 2,
                   alt: 2
               },
                {
                   id: 1,
                   alt: 3
               }
           ],
           awards: [
               {
                   id: 1,
                   date: "Jan 2018",
                   name: "Perfect Attendance Programs",
                   note: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus."
               },
               {
                   id: 2,
                   date: "Dec 2019",
                   name: "Top Performer Recognition",
                   note: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus."
               }
           ]
        }
    }
}
</script>
<style>
</style>