<template>
   <section class="our-dashbord dashbord">
		<div class="">
			<div class="row">
				<UserProfile />
				<div class="col-lg-8 col-xl-9">
					<div class="row">
						<div class="col-lg-12">
							<h4 class="mb30">CV Manager</h4>
						</div>
						<div class="col-lg-12 mb30">
							<div class="candidate_job_reivew cv_manager">
								<div class="table-responsive job_review_table">
									<table class="table">
										<tbody>
									    	<tr v-bind:key="c.id" v-for="c in cv" class="mb30">
									    		<th scope="row">
									    			<ul>
									    				<li class="list-inline-item"><a href="#"><span class="flaticon-doc font"><font-awesome-icon icon="file" /></span></a></li>
									    				<li class="list-inline-item cv_sbtitle"><a href="#">{{c.cv}}</a></li>
									    			</ul>
									    		</th>
									    		<td></td>
									    		<td></td>
									    		<td></td>
									    		<td>
									    			<ul class="view_edit_delete_list">
									    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><span class="flaticon-edit"><font-awesome-icon icon="pencil-alt" /></span></a></li>
									    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><span class="flaticon-rubbish-bin"><font-awesome-icon icon="trash-alt" /></span></a></li>
									    			</ul>
									    		</td>
									    	</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-xl-8">
							<div class="candidate_resume_uploader">
								<p class="form_title">Curriculum Vitae</p>
								<form class="form-inline">
									<input class="upload-path" placeholder="Design CV"/>
									<label class="upload">
									    <input type="file" />
									    <p><span class="flaticon-download"><font-awesome-icon icon="file" /></span> Upload CV</p>
									</label>
								</form>
							  	<small class="form-text text-muted">Suitable files are .doc,.docx,.pdf.</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
import { Component, Vue } from 'vue-property-decorator';
import UserProfile from './UserProfile';
import axios from 'axios';

export default {
	name: 'CandidateResumeManager',
	components: { UserProfile },
	data() {
		return {
           cv: [
               {
                   id: 1,
                   cv: "Sample CV"
               },
               {
                   id: 2,
                   cv: "UX/UI CV"
               }
           ]
        }
    }
}
</script>
<style scoped>

</style>