<template>
    <div class="col-sm-12 col-lg-4 col-xl-3 dn-smd">
					<div class="user_profile">
						<div class="media">
						  	<img src="../../../assets/images/team/8.jpg" class="align-self-start mr-3 rounded-circle" alt="8.jpg">
						  	<div class="media-body">
						    	<h5 class="mt-0">Hi, Martha Griffin</h5>
						    	<p>Bothell, WA, USA</p>
							</div>
						</div>
					</div>
					<div class="dashbord_nav_list">
						<ul>
							<li v-bind:key="link.to" v-for="link in links"><router-link v-bind:to="link.path" ><span v-bind:class="link.class"><font-awesome-icon v-bind:icon="link.class" /> </span>{{link.name}}</router-link></li>	
						</ul>
					</div>
					<div class="skill_sidebar_widget">
						<h4>Skills Percentage <span class="float-right font-weight-bold">85%</span></h4>
						<p>Put value for "Cover Image" field to increase your skill up to "15%"</p>
				        <ul class="skills">
				            <li class="progressbar3" data-width="85" data-target="85"></li>
				        </ul>
					</div>
				</div>
</template>
<script>
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class UserProfile extends Vue {
	data() {
		return {
			links: [
				{
					path: "/candidate_dashboard",
					class: "columns",
					name: "Dashboard"
				},
				{
					path: "/candidate_profile",
					class: "id-badge",
					name: "Candidate Profile"
				},
				{
					path: "/candidate_resume", 
					class: "file",
					name: "Resume"
				},
				{
					path: "/candidate_applied_jobs",
					class: "tasks",
					name: "Applied Jobs"
				},
				{
					path: "/candidate_resume_manager",
					class: "file",
					name: "CV Manager"
				},
				{
					path: "/candidate_favourite_jobs",
					class: "star",
					name: "Favourite Jobs"
				},
				{
					path: "/candidate_messages",
					class: "comments",
					name: "Messages"
				},
				{
					path: "/candidate_review",
					class: "star",
					name: "Reviews"
				},
				{
					path: "/candidate_job_alerts",
					class: "bell",
					name: "Job Alerts"
				},
				{
					path: "/candidate_change_password",
					class: "unlock-alt",
					name: "Change Password"
                },
                {
					path: "/candidate_logout",
					class: "sign-out-alt",
					name: "Logout"
                },
                {
					path: "/candidate_delete_profile",
					class: "trash-alt",
					name: "Delete Profile"
				}
			]
		}
	}
}
</script>
<style>
.router-link-exact-active{
  text-decoration-line: underline;
}
</style>