<template>
  <div class="">
    <div id="app">
      <Nav />
      <!-- <div id="nav">
        <router-link to="/">Home</router-link> |
        <router-link to="/about">About</router-link>
      </div> -->
      <router-view/>
    </div>
  </div>
</template>
<script>
import { Component, Vue } from 'vue-property-decorator';
import Nav from './components/Nav.vue'; // @ is an alias to /src

@Component({
  components: {
    Nav,
  },
})
export default class App extends Vue {}
</script>

<style>
@import './assets/styles/style.css';
@import './assets/styles/colorpalete.css';
</style>
