<template>
	<div class="col-sm-12 col-lg-8 col-xl-9">
					<div class="row">
						<div class="col-lg-12"> 
							<h4 class="fz20">Shortlisted Resumes</h4>
						</div>
						<div v-bind:key="candidate.name" v-for="candidate in candidates" class="col-lg-12">
							<div class="candidate_list_view style2">
								<div class="thumb">
									<img class="img-fluid rounded-circle" src="../../../assets/images/team/c3.jpg" />
									<div class="cpi_av_rating"><span>{{candidate.rating}}</span></div>
								</div>
								<div class="content">
									<h4 class="title">{{candidate.name}} <small class="verified text-thm2 pl10"><font-awesome-icon icon="user-check" /></small></h4>
									<p>{{candidate.job}} at <span class="text-thm2">{{candidate.at}}</span></p>
									<ul class="review_list">
										<li class="list-inline-item"><a href="#"><font-awesome-icon class="icon-cog" lass="star" icon="star"/></a></li>
										<li class="list-inline-item"><a href="#"><font-awesome-icon class="icon-cog" lass="star" icon="star"/></a></li>
										<li class="list-inline-item"><a href="#"><font-awesome-icon class="icon-cog" lass="star" icon="star"/></a></li>
										<li class="list-inline-item"><a href="#"><font-awesome-icon class="icon-cog" lass="star" icon="star"/></a></li>
										<li class="list-inline-item"><a href="#"><font-awesome-icon class="icon-cog" icon="star-half-alt"/></a></li>
									</ul>
									<ul class="address_list">
										<li class="list-inline-item"><a href="#"><span class="flaticon-location-pin"></span> {{candidate.address}}</a></li>
										<li class="list-inline-item"><a href="#"><span class="flaticon-price"></span> {{candidate.rate}}</a></li>
									</ul>
								</div>
				    			<ul class="view_edit_delete_list mt25 float-right fn-xl">
				    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Download CV"><span class="flaticon-resume"></span><font-awesome-icon icon="file" /> Download CV</a></li>
				    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Send Message"><span class="flaticon-open-envelope-with-letter"></span><font-awesome-icon icon="envelope-open-text" /> Send Message</a></li>
				    				<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><span class="flaticon-rubbish-bin"><font-awesome-icon icon="trash-alt" /></span></a></li>
				    			</ul>
							</div>
						</div>
					</div>
				</div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator';
import axios from 'axios';

export default {
	name: 'EmployerResume',
	data() {
		return {
			candidates: [
				{
					image: '../../assets/images/team/c2.jpg',
					rating: 4.5,
					name: "Kathleen Moreno",
					job: "Development Manager",
					at: "Wiggle CRC",
					stars: [],
					address: "Botell, WA, USA",
					rate: "$13.00 - $18.00 per hour"
				},
				{
					image: "../../assets/images/team/c3.jpg",
					rating: 4.5,
					name: "Ralph Johnson",
					job: "Development Manager",
					at: "Wiggle CRC",
					stars: [],
					address: "Botell, WA, USA",
					rate: "$13.00 - $18.00 per hour"
				},
				{
					image: "../../assets/images/team/c4.jpg",
					rating: 4.5,
					name: "Shirly Snyder",
					job: "Development Manager",
					at: "Wiggle CRC",
					stars: [],
					address: "Botell, WA, USA",
					rate: "$13.00 - $18.00 per hour"
				},
				{
					image: "../../assets/images/team/c5.jpg",
					rating: 4.5,
					name: "Rebecca Cox",
					job: "Development Manager",
					at: "Wiggle CRC",
					stars: [],
					address: "Botell, WA, USA",
					rate: "$13.00 - $18.00 per hour"
				},
				{
					image: "../../assets/images/team/c1.jpg",
					rating: 4.5,
					name: "Rodney Wells",
					job: "Development Manager",
					at: "Wiggle CRC",
					stars: [],
					address: "Botell, WA, USA",
					rate: "$13.00 - $18.00 per hour"
				}
			]
		}
	},
	mounted () {}
}
</script>

<style scoped>
  .icon-cog {
  color: #febe42;
}
</style>