<template>
	<div class="col-sm-12 col-lg-8 col-xl-9">
					<div class="row">
						<div class="col-lg-12">
							<h4 class="fz20 mb30">Packages</h4>
						</div>
						<div class="col-lg-12">
							<div class="candidate_job_reivew style2">
								<div class="table-responsive job_review_table mt0">
									<table class="table">
										<thead class="thead-light">
									    	<tr>
									    		<th scope="col">Transaction ID</th>
									    		<th scope="col">Package</th>
									    		<th scope="col">Expiry</th>
									    		<th scope="col">Total Jobs/CVs</th>
									    		<th scope="col">Used</th>
									    		<th scope="col">Remaining</th>
									    		<th scope="col">Status</th>
									    	</tr>
										</thead>
										<tbody>
									    	<tr v-bind:key="job.Id" v-for="job in jobs" >
									    		<th scope="row">{{job.Id}}</th>
									    		<td>{{job.package}}</td>
									    		<td>{{job.expiry}}</td>
									    		<td>{{job.total}}</td>
									    		<td>{{job.used}}</td>
									    		<td>{{job.remaining}}</td>
									    		<td v-bind:class="(job.status=='Approved')?'text-thm2':''">{{job.status}}</td>
									    	</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator';
import axios from 'axios';

export default {
	name: 'EmployerPackages',
   data() {
		return {
			jobs: [
				{
					Id: 221319456,
					package: "Golden Jobs",
					expiry: "April 04, 2019",
					total: 125,
					used: 0,
					remaining: 200,
					status: "Pending"
				},
					{
					Id: 221319457,
					package: "Basic Jobs",
					expiry: "April 04, 2019",
					total: 125,
					used: 0,
					remaining: 200,
					status: "Approved"
				},
					{
					Id: 221319458,
					package: "Golden Jobs",
					expiry: "April 04, 2019",
					total: 125,
					used: 0,
					remaining: 200,
					status: "Approved"
				},
					{
					Id: 221319459,
					package: "Golden Jobs",
					expiry: "April 04, 2019",
					total: 125,
					used: 0,
					remaining: 200,
					status: "Pending"
				},
					{
					Id: 221319456,
					package: "Golden Jobs",
					expiry: "April 04, 2019",
					total: 125,
					used: 0,
					remaining: 200.956,
					status: "Pending"
				},
					{
					Id: 221319460,
					package: "Golden Jobs",
					expiry: "April 04, 2019",
					total: 125,
					used: 0,
					remaining: 200.567,
					status: "Pending"
				}
			]
		}
	},
	mounted () {}
}
</script>

<style>

</style>