<template>
    <div class="col-sm-12 col-lg-4 col-xl-3 dn-smd">
					<div class="user_profile">
						<div class="media">
						  	<img src="../../../assets/images/team/e1.png" class="align-self-start mr-3 rounded-circle" alt="e1.png">
						  	<div class="media-body">
						    	<h5 class="mt-0">Hi, CreativeLayers</h5>
						    	<p>Bothell, WA, USA</p>
							</div>
						</div>
					</div>
					<div class="dashbord_nav_list">
						<ul>
							<li v-bind:key="link.to" v-for="link in links"><router-link v-bind:to="link.path" ><span v-bind:class="link.class"><font-awesome-icon v-bind:icon="link.class" /> </span>{{link.name}}</router-link></li>
						</ul>
					</div>
				</div>
</template>

<script>
export default {
	name: 'EmployerSidebar',
	data() {
		return {
			links: [
				{
					path: "/dashboard",
					class: "columns",
					name: "Dashboard"
				},
				{
					path: "/dashboard/profile",
					class: "id-badge",
					name: "Company Profile"
				},
				{
					path: "/dashboard/jobs/post",
					class: "file",
					name: "Post a New Job"
				},
				{
					path: "/dashboard/jobs",
					class: "tasks",
					name: "Manage Jobs"
				},
				{
					path: "/dashboard/candidates",
					class: "file",
					name: "Potential Candidates"
				},
				// TODO
				// {
				// 	path: "/employer_packages",
				// 	class: "box-open",
				// 	name: "Packages"
				// },
				// {
				// 	path: "/employer_transactions",
				// 	class: "comments-dollar",
				// 	name: "Transactions"
				// },
				// {
				// 	path: "/employer_change_password",
				// 	class: "unlock-alt",
				// 	name: "Change Password"
				// },
				// {
				// 	path: "/page_log_reg",
				// 	class: "sign-out-alt",
				// 	name: "Logout"
				// },
				// {
				// 	path: "/",
				// 	class: "trash-alt",
				// 	name: "Delete Profile"
				// }
			]
		}
	}
}
</script>
<style>
.router-link-exact-active{
  text-decoration-line: underline;
}
</style>