<template>
	<div class="col-sm-12 col-lg-8 col-xl-9">
					<div class="my_profile_form_area">
						<div class="row">
							<div class="col-lg-12">
								<h4 class="fz20 mb20">Post a New Job</h4>
							</div>
							<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
								<div class="icon_boxs">
									<div class="icon"><span class="flaticon-work"><font-awesome-icon class="icon-cog" icon="briefcase"/></span></div>
									<div class="details"><h4>2 Job Posted</h4></div>
								</div>
							</div>
							<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
								<div class="icon_boxs">
									<div class="icon style2"><span class="flaticon-resume"><font-awesome-icon class="icon-cog" icon="file"/></span></div>
									<div class="details"><h4>3 Applications</h4></div>
								</div>
							</div>
							<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
								<div class="icon_boxs">
									<div class="icon style3"><span class="flaticon-work"><font-awesome-icon class="icon-cog" icon="briefcase"/></span></div>
									<div class="details"><h4>1 Active Jobs</h4></div>
								</div>
							</div>
							<div class="col-lg-12 mt30">
								<div class="my_profile_thumb_edit"></div>
							</div>
							<div class="col-lg-12">
								<div class="my_profile_input form-group">
							    	<label for="formGroupExampleInput2">Job Title</label>
							    	<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="UX/UI Desginer">
								</div>
							</div>
							<div class="col-lg-12">
								<div class="my_resume_textarea">
									 <div class="form-group">
									    <label for="exampleFormControlTextarea1">Job Description</label>
									    <textarea class="form-control" id="exampleFormControlTextarea1" rows="9">Spent several years working on sheep on Wall Street. Had moderate success investing in Yugo's on Wall Street. Managed a small team buying and selling Pogo sticks for farmers. Spent several years licensing licorice in West Palm Beach, FL. Developed several new methods for working it banjos in the aftermarket. Spent a weekend importing banjos in West Palm Beach, FL.In this position, the Software Engineer collaborates with Evention's Development team to continuously enhance our current software solutions as well as create new solutions to eliminate the back-office operations and management challenges present
									    </textarea>
									  </div>
								</div>
							</div>
							<div class="col-md-6 col-lg-12">
								<div class="my_profile_input form-group">
							    	<label for="formGroupExampleInputDate">Application Deadline Date</label>
							    	<input type="number" class="form-control" id="formGroupExampleInputDate" placeholder="22/05/2010">
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<div class="my_profile_input form-group">
							    	<label for="exampleFormControlInput1">Email address</label>
							    	<input type="email" class="form-control" id="exampleFormControlInput1">
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<div class="my_profile_input form-group">
							    	<label for="formGroupExampleInput1">Username</label>
							    	<input type="text" class="form-control" id="formGroupExampleInput1">
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<div class="my_profile_select_box form-group">
							    	<label for="formGroupExampleInput1">Job Type</label><br>
							    	<select class="selectpicker form-control">
										<option>Basic</option>
										<option>Standard</option>
										<option>Advance</option>
										<option>Expert</option>
									</select>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<div class="my_profile_select_box form-group">
							    	<label for="formGroupExampleInput1">Specialisms</label><br>
							    	<select class="selectpicker form-control" multiple data-actions-box="true">
										<option>Basic</option>
										<option>Standard</option>
										<option>Advance</option>
										<option>Expert</option>
									</select>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<div class="my_profile_select_box form-group">
							    	<label for="exampleFormControlInput3">Offerd Salary</label><br>
							    	<select class="selectpicker form-control">
										<option>25-30 K</option>
										<option>25-35 K</option>
										<option>25-40 K</option>
									</select>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<div class="my_profile_select_box form-group">
							    	<label for="exampleFormControlInput4">Career Level</label><br>
							    	<select class="selectpicker form-control">
										<option>45-85 K</option>
										<option>45-85 K</option>
										<option>45-85 K</option>
									</select>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<div class="my_profile_select_box form-group">
							    	<label for="formGroupExampleInput1">Experience</label><br>
							    	<select class="selectpicker form-control">
										<option>1Year to 2Year</option>
										<option>2Year to 3Year</option>
										<option>3Year to 4Year</option>
										<option>4Year to 5Year</option>
									</select>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<div class="my_profile_select_box form-group">
							    	<label for="formGroupExampleInput1">Gender</label><br>
							    	<select class="selectpicker form-control">
										<option>Male</option>
										<option>Female</option>
										<option>Other</option>
									</select>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<div class="my_profile_select_box form-group">
							    	<label for="formGroupExampleInput1">Industry</label><br>
							    	<select class="selectpicker form-control">
										<option>Industry1</option>
										<option>Industry2</option>
										<option>Industry3</option>
										<option>Industry4</option>
									</select>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<div class="my_profile_select_box form-group">
							    	<label for="formGroupExampleInput1">Qualification</label><br>
							    	<select class="selectpicker form-control">
										<option>Qualification1</option>
										<option>Qualification2</option>
										<option>Qualification3</option>
										<option>Qualification4</option>
									</select>
								</div>
							</div>
							<div class="col-lg-12">
								<h4 class="fz18 mb20">Address / Location</h4>
							</div>
						    <div class="col-md-6 col-lg-6">
								<div class="my_profile_select_box form-group">
							    	<label for="exampleFormControlInput9">Country</label><br>
							    	<select class="selectpicker form-control">
										<option>United Kingdom</option>
										<option>United State</option>
										<option>Ukraine</option>
										<option>Uruguay</option>
										<option>UK</option>
										<option>Uzbekistan</option>
										<option>Uganda</option>
									</select>
								</div>
							</div>
						    <div class="col-md-6 col-lg-6">
								<div class="my_profile_select_box form-group">
							    	<label for="exampleFormControlInput9">City</label><br>
							    	<select class="selectpicker form-control">
										<option>London</option>
										<option>Manchester</option>
										<option>Birmingham</option>
										<option>Liverpool England</option>
										<option>Bristol</option>
										<option>City of London</option>
										<option>Leeds</option>
									</select>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="my_resume_textarea">
									<div class="form-group">
									    <label for="exampleFormControlTextarea2">Full Address</label>
									    <textarea class="form-control" id="exampleFormControlTextarea2" rows="3">London, United Kingdom</textarea>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-lg-4">
								<div class="my_profile_input form-group">
							    	<label for="exampleInputLat">Latitude</label>
							    	<input type="email" class="form-control" id="exampleInputLat" aria-describedby="latNumber" placeholder="51.5073509">
								</div>
							</div>
							<div class="col-md-4 col-lg-4">
								<div class="my_profile_input form-group">
							    	<label for="exampleInputLat2">Longitude</label>
							    	<input type="email" class="form-control" id="exampleInputLat2" aria-describedby="latNumber" placeholder="-0.12775829999998223">
								</div>
							</div>
							<div class="col-md-4 col-lg-4">
								<div class="my_profile_input form-group">
							    	<label for="exampleInputLat3">Zoom</label>
							    	<input type="email" class="form-control" id="exampleInputLat3" aria-describedby="latNumber" placeholder="16">
								</div>
							</div>
							<div class="col-lg-12">
								<div class="h300" id="map-canvas"></div>
							</div>
							<div class="col-lg-4">
								<div class="my_profile_input">
									<a class="btn btn-lg btn-thm" href="#">Save Changes</a>
								</div>
							</div>
						</div>
					</div>
				</div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator';
import axios from 'axios';

export default {
	name: 'EmployerPost',
}
</script>

<style>
.icon-cog {
  color : #75726c;
}
</style>