<template>
	<div class="col-sm-12 col-lg-8 col-xl-9">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="mb30">Manage Jobs</h4>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
				<div class="icon_boxs">
					<div class="icon"><span class="flaticon-work"><font-awesome-icon class="icon-cog" icon="briefcase"/></span></div>
					<div class="details"><h4>2 Job Posted</h4></div>
				</div>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
				<div class="icon_boxs">
					<div class="icon style2"><span class="flaticon-resume"><font-awesome-icon class="icon-cog" icon="file"/></span></div>
					<div class="details"><h4>3 Applications</h4></div>
				</div>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
				<div class="icon_boxs">
					<div class="icon style3"><span class="flaticon-work"><font-awesome-icon class="icon-cog" icon="briefcase"/></span></div>
					<div class="details"><h4>1 Active Jobs</h4></div>
				</div>
			</div>
			<div class="col-md-6 col-lg-6">
				<div class="candidate_revew_search_box mt30">
					<form class="form-inline my-2 my-lg-0">
							<input class="form-control mr-sm-2" type="search" placeholder="Serach" aria-label="Search">
							<button class="btn my-2 my-sm-0" type="submit"><span class="flaticon-search"></span></button>
						</form>
				</div>
			</div>
			<div class="col-md-6 col-lg-6">
				<div class="candidate_revew_select text-right mt30">
					<ul>
						<li class="list-inline-item">Sort by:</li>
						<li class="list-inline-item">
							<select class="selectpicker show-tick form-control">
								<option>Newest</option>
								<option>Recent</option>
								<option>Old Review</option>
							</select>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="cnddte_fvrt_job candidate_job_reivew style2">
					<div class="table-responsive job_review_table">
						<table class="table">
							<thead class="thead-light">
									<tr>
										<th scope="col">Job Title</th>
										<th scope="col">Applications</th>
										<th scope="col">Status</th>
										<th scope="col"></th>
									</tr>
							</thead>
							<tbody>
									<tr v-bind:key="job.title" v-for="job in jobs">
										<th scope="row">
											<h4>{{job.title}}</h4>
											<p><span class="flaticon-location-pin"><font-awesome-icon icon="map-marker-alt" /></span> {{job.location}}</p>
											<ul>
												 <font-awesome-icon icon="calendar-times" /> <li v-bind:key="dat" v-for="dat in job.date" class="list-inline-item"><a href="#"><span class="flaticon-event"> {{dat}} </span></a></li>
											</ul>
										</th>
										<td><span class="color-black22">{{job.applicants}}</span> Application(s)</td>
										<td  v-bind:class="(job.status=='Active')?'text-thm2':'text-red'">{{job.status}}</td>
										<td>
											<ul class="view_edit_delete_list">
												<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="bottom" title="View"><span class="flaticon-eye"><font-awesome-icon icon="eye" /></span></a></li>
												<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Edit"><span class="flaticon-edit"><font-awesome-icon icon="pencil-alt" /></span></a></li>
												<li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Delete"><span class="flaticon-rubbish-bin"><font-awesome-icon icon="trash-alt" /></span></a></li>
											</ul>
										</td>
									</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import { Component, Vue } from 'vue-property-decorator';
import axios from 'axios';

export default {
	name: 'EmployerDashboard',
	data() {
        return {
            jobs : [
                {
                    title: 'General Ledger Accountant',
                    location: 'RG40, Wokingham',
                    date: ['  ', 'Created', 'Dec 03, 2017', 'Expiry:', 'Oct 22, 2018'],
                    applicants: 17,
                    status: 'Inactive'
                },
                {
                    title: 'Car Financed Required For Bank',
                    location: 'London, United Kingdom',
                    date: ['  ', 'Created', 'Dec 03, 2017', 'Expiry:', 'Oct 22, 2018'],
                    applicants: 14,
                    status: 'Active'
                },
                {
                    title: 'UX/UI Designer',
                    location: ' RG40, Wokingham',
                    date: ['  ', 'Created', 'Dec 03, 2017', 'Expiry:', 'Oct 22, 2018'],
                    applicants: 5,
                    status: 'Active'
                }

            ]
        }
    },
	mounted () {}
}
</script>
<style scoped>
  .text-red {
      color: red;
  }
</style>