<template>
	<div class="col-sm-12 col-lg-8 col-xl-9">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="mb30">Dashboard</h4>
			</div>
			<div v-bind:key="item.id" v-for="item in items" v-bind:class="item.class_1">
				<div v-bind:class="item.class_2">
					<div class="icon"><span v-bind:class="item.class_3"><font-awesome-icon class="icon-fa" v-bind:icon="item.class_3" /></span></div>
					<div class="detais">
						<div class="timer">{{item.timer}}</div>
						<p>{{item.name}}</p>
					</div>
				</div>
			</div>
			<div class="col-xl-8">
				<div class="application_statics">
					<h4>Applications Statistics</h4>
					<div class="c_container">
						<RandomChart />
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="recent_job_trafic">
					<h4>Traffic</h4>
					<div class="trafic_details">
						<div class="circlechart" data-percentage="60">1.5 M</div>
						<h4>Traffic for the day</h4>
						<p>Traffic through the sources google and facebook for the day</p>
						<ul class="trafic_list float-left">
							<li>40%</li>
							<li class="list-inline-item"><span class="bgc-fb"></span></li>
							<li class="list-inline-item">Facebook</li>
						</ul>
						<ul class="trafic_list">
							<li>60%</li>
							<li class="list-inline-item"><span class="bgc-gogle"></span></li>
							<li class="list-inline-item">Facebook</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xl-8">
				<div class="recent_job_apply">
					<h4 class="title">Recent Applicants</h4>
					<div v-bind:key="applicant.id" v-for="applicant in applicants" class="candidate_list_view style3 mb50">
						<div  class="thumb">
							<img class="img-fluid rounded-circle" src="../../../assets/images/team/1.jpg" alt="1.jpg">
							<div class="cpi_av_rating"><span>{{applicant.review}}</span></div>
						</div>
						<div class="content">
							<h4 class="title">{{applicant.name}}<span class="verified text-thm pl10"><font-awesome-icon icon="user-check" /></span></h4>
							<p>{{applicant.title}}</p>
							<ul class="review_list">
								<li v-bind:key="rev.id" v-for="rev in applicant.reviews" class="list-inline-item"><a href="#"><font-awesome-icon class="icon-cog" lass="star" icon="star"/></a></li>
							</ul>
						</div>
							<ul class="freelancer_place mt25 float-right fn-xsd tac-xsd">
							<li class="list-inline-item"><a href="#"><span class="flaticon-location-pin"><font-awesome-icon icon="map-marker-alt" /></span> {{applicant.location}}</a></li>
							<li class="list-inline-item"><a href="#"><button class="btn btn-thm">Hire</button></a></li>
							</ul>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="recent_job_activity">
					<h4 class="title">Activity</h4>
					<div v-bind:key="act.id" v-for="act in activity" class="grid">
						<div class="color_bg float-left"></div>
						<ul>
							<li><span>{{act.name}}</span>{{act.action}}</li>
							<li>{{act.time}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import { Component, Vue } from 'vue-property-decorator';
import RandomChart from '../chart/RandomChart'
import axios from 'axios';

export default {
	name: 'EmployerDashboard',
	components: { RandomChart },
	data() {
		return {
			items: [
				{
					id: 1,
					class_1: "col-sm-6 col-md-6 col-lg-6 col-xl-3",
					class_2: "ff_one",
					class_3: "paper-plane",
					name: "Posted Jobs",
					timer: 5246
				},
				{
					id: 2,
					class_1: "col-sm-6 col-md-6 col-lg-6 col-xl-3",
					class_2: "ff_one style2",
					class_3: "star-half-alt",
					name: "Reviewed",
					timer: 107
				},
				{
					id: 3,
					class_1: "col-sm-6 col-md-6 col-lg-6 col-xl-3",
					class_2: "ff_one style3",
					class_3: "bell",
					name: "Shortlisted",
					timer: 835
				},
				{
					id: 4,
					class_1: "col-sm-6 col-md-6 col-lg-6 col-xl-3",
					class_2: "ff_one style4",
					class_3: "user-tag",
					name: "Interviews",
					timer: 279
				}
			],
			applicants: [
				{
					id: 1,
					review: 4.5,
					name: "Ali TUFAN",
					title: " App Designer",
					reviews: [1,1,1,1,.5],
					location: "Instabul"
				},
				{
					id: 2,
					review: 4.5,
					name: "Peter KING",
					title: "iOS Expert + Node Dev",
					reviews: [1, 1, 1,],
					location: "Instabul"
				},
				{
					id: 3,
					review: 4.5,
					name: "Natalia JOHN",
					title: "Front-End Developer",
					reviews: [1, 1, 1, 1, .5],
					location: "Instabul"
				},
			],
			activity: [
				{
					id: 1,
					name: "Dobrick",
					action: " published an article",
					time: "2 hours ago"
				},
				{
					id: 2,
					name: "Stella",
					action: " created an event",
					time: "2 hours ago"
				},
				{
					id: 3,
					name: "Peter",
					action: " submitted the reports",
					time: "2 hours ago"
				},
				{
					id: 4,
					name: "Natalia",
					action: " updated the docs",
					time: "2 hours ago"
				},
				{
					id: 5,
					name: "Dobrick",
					action: " published an article",
					time: "2 hours ago"
				},
				{
					id: 6,
					name: "Stella",
					action: " created an event",
					time: "2 hours ago"
				}
			]
		}
	},
	mounted () {}
}
</script>
<style scoped>
.row {
	margin: 0;
}
.icon-fa, .timer {
  color: #75726c;
}
  .icon-cog {
  color: #febe42;
}
.btn-thm {
    background-color: #79b530;
    color: #ffffff;
    font-size: 16px;
    padding: 7px 30px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-thm:hover {
	background-color: white;
	border: 1px solid #79b530;
	color: #79b530;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
</style>